:root {
    --color-primary: rgb(110, 124, 99);
    --color-secondary: #a3a3a3;
    --color-background: #fdfdfd;
    --color-card: #f5f5f5;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Roboto', sans-serif;
    --hero-button-bg: #8c9c82;
    --font-hero-secondary: 'Marcellus SC', serif;
}

/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--color-primary);
    background-color: var(--color-background);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Encabezado Principal (Hero) */
.hero {
    background: url('./images/header2.jpg') no-repeat center center/cover;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at bottom,
        rgba(0, 0, 0, 0.1) 0%, /* El centro es ligeramente oscuro (o más claro si quieres) */
        rgba(0, 0, 0, 0.3) 70%, /* Se vuelve más oscuro hacia los bordes (ajusta este porcentaje) */
        rgba(0, 0, 0, 0.5) 100% /* Los bordes son más oscuros */
    );
    z-index: 1;
}

.hero-content {
    z-index: 2;
    padding-top: 5vh;
}

.hero h1 {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    letter-spacing: 0.2em;
    color: #f0f0f0;
}

.hero-date {
    font-family: var(--font-hero-secondary);
    font-size: 0.9rem;
    letter-spacing: 0.25em;
    font-weight: 300;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Botón "Desliza para ver más" */
.scroll-down-button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: var(--hero-button-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-down-button:hover {
    background-color: #728068;
}

.scroll-down-button .fas {
    font-size: 1.5rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-2px);
    }
}

/* Contenido principal con margen para el reproductor */
.main-content {
    margin-top: 50px;
}

/* Secciones de la página */
.section {
    padding: 0 auto;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.section-text {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* Galería de imágenes */
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nueva sección de imagen */
.image-section {
    width: 100%;
    overflow: hidden;
    margin-top: 0;
}
.image-section-invitacion {
    width: 100%;
    overflow: hidden;
    margin: 10rem 0;
}

.large-image {
    display: block;
    width: 100%;
    height: auto;
}

/* Contenedor flotante para el reproductor */
.floating-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Reproductor de música flotante con efecto de pulsación */
.floating-music-player {
    width: 80px;
    height: 80px;
    background-color: var(--color-card);
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.floating-music-player:hover {
    transform: scale(1.05);
}

/* Pseudo-elemento para el efecto de pulsación */
.floating-music-player.pulsing::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-primary);
    animation: pulse 2s infinite;
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

.player-button {
    width: 60px;
    height: 60px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1; /* Para que quede sobre la barra de progreso */
}

.player-button:hover {
    background-color: rgb(90, 104, 79);
}

.player-button .fas {
    font-size: 1.2rem;
}

/* Detalles del evento */
.event-details {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.event-card {
    background-color: var(--color-card);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.event-card h3 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.map-link {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
}

.map-link:hover {
    color: var(--color-primary);
}

/* Botón de Confirmación */
.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(90, 104, 79);
}

/* Pie de página */
.footer {
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: var(--color-secondary);
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    .floating-container {
        bottom: 10px;
        right: 10px;
    }

    .floating-music-player {
        width: 60px;
        height: 60px;
    }

    .player-button {
        width: 45px;
        height: 45px;
    }

    .player-button .fas {
        font-size: 1rem;
    }
}
/* Sección del Contador */
.countdown-section {
    background-image: url('./images/FONDOSEDA2.png');
    background-size: cover; /* Hace que la imagen cubra toda la sección */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 5rem 1rem; /* Mantiene el espacio interno de la sección */
    background-attachment: fixed;
}

.countdown {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.countdown > div {
    text-align: center;
}

.digit {
    width: 70px;
    height: 90px;
    background: transparent;
    font-size: 48px;
    font-weight: bold;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
}

.label {
    margin-top: 6px;
    font-size: 12px;
    text-align: center;
    color: var(--color-primary);
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 400px) {
    .digit {
        width: 50px;
        height: 70px;
        font-size: 36px;
    }
    .label {
        font-size: 10px;
    }
}


/* Estilos para el contenedor de la imagen y el botón superpuesto */
.image-button-container {
    position: relative; /* Es el punto de referencia para el botón absoluto */
    display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 800px; /* Limita el tamaño máximo, si lo necesitas */
    margin: 0 auto; /* Centra el contenedor si tiene un max-width */
}

/* El botón superpuesto sobre la imagen */
.image-overlay-button {
    position: absolute; /* Posiciona el botón de forma absoluta respecto a su padre */
    bottom: 23%; /* Ajusta esta propiedad para subir o bajar el botón */
    left: 50%;   /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Ajuste final para centrado perfecto */
    padding: 0.8rem 1.5rem; /* Ajusta el tamaño del botón */
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    white-space: nowrap; /* Evita que el texto del botón se rompa en varias líneas */
    min-width: 150px; /* Ancho mínimo para el botón */
}

/* Si el botón "Confirmar por WhatsApp" ya usa la clase .button, estos estilos podrían duplicarse.
   Asegúrate de que tus estilos base de .button sean adecuados o ajusta si es necesario. */
.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    border: none; /* Asegura que no tenga borde si no lo quieres */
    cursor: pointer; /* Indica que es clickeable */
}

.button:hover {
    background-color: rgb(90, 104, 79);
}

/* Media Queries para ajustar la posición del botón en pantallas pequeñas, si es necesario */
@media (max-width: 768px) {
    .image-overlay-button {
        bottom: 22%; /* Puedes necesitar ajustar esto para móviles */
        padding: 0.7rem 1.2rem;
        font-size: 0.9rem;
        min-width: 130px;
    }
}

@media (max-width: 480px) {
    .image-overlay-button {
        bottom: 21%; /* Otro ajuste para móviles muy pequeños */
        padding: 0.6rem 1rem;
        font-size: 0.85rem;
        min-width: 110px;
    }
}

